<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appbusters.robinpc.evencargo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Even Cargo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".managerpanel.ManagerPanelActivity"
            android:label="@string/title_activity_manager_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".driverpanel.DriverPanelActivity"
            android:label="@string/title_activity_driver_panel"
            android:parentActivityName=".managerpanel.ManagerPanelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".clientpanel.ClientPanelActivity"
            android:label="@string/title_activity_client_panel"
            android:noHistory="true"
            android:parentActivityName=".managerpanel.ManagerPanelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".invites.InvitesActivity"
            android:label="@string/title_activity_invites"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypeople.MyDriversActivity"
            android:label="@string/title_activity_my_drivers"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypeople.MyClientsActivity"
            android:label="@string/title_activity_my_clients"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mypeople.MyManagersActivity"
            android:label="@string/title_activity_my_managers"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:noHistory="true"
            android:parentActivityName=".managerpanel.ManagerPanelActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".siginsignup.SigninActivity"
            android:exported="true" />
        <activity android:name=".siginsignup.SignupActivity" />
        <activity android:name=".invites.SendInviteActivity" />
        <activity android:name=".DisplayDetails" />
        <activity android:name=".orders.ManagerOrder" />
        <activity android:name=".orders.ClientOrder" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-FXZlVgsqGuORcJutzbJb7SY_QpqVfgA" />
        <!--
            <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value=" AIzaSyC-FXZlVgsqGuORcJutzbJb7SY_QpqVfgA "/>!
        -->
        <activity android:name=".orders.DisplayOrder1" />
        <activity
            android:name=".orders.DisplayLocation"
            android:noHistory="false">
            <uses-library
                android:name="com.google.android.maps"
                android:required="true" />
        </activity>
        <activity
            android:name=".chat.ChatPage"
            android:exported="true" />

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <activity android:name=".clientpanel.DisplayClientOrder" />
        <activity android:name=".siginsignup.ForgetPasswordActivity" />
        <activity android:name=".clientpanel.AboutUs" />
        <activity android:name=".chat2.ChatPage2"></activity>
    </application>

</manifest>